

<div class= "homeSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="aboutMe ">
        <h2>Nikki Fargus</h2>
        <h3> Hi, I'm a Junior Web Developer based in  London </h3>
        <h4 >I love to create new things and I enjoy the practical and problem solving aspects of coding. My ideal job would be within an enthusiastic, friendly team that works collaborately so I can develop my skills. If I am not coding you'll find me baking, binge watching Netflix or travelling.</h4>
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="photoMe">
        <img class="img-fluid" src="images/cartoonMe.png">
      </div>
    </li>
  </ul>
</div>
<hr>
<div class= "aboutSection">
  <div class= "row">
    <div class= "col-xs-12">

      <h2>Experience</h2>
      <div class="" >
        <h4>I have just finished the Web Development Immersive course at General Assembly which is a  three month, full-time program teaching the fundamentals of web development. See "work" section to review the projects I completed whilst studying there.</h4>
      </div>
          <hr>
    </div>

    <div class= "col-xs-12 col-md-6">
      <h3>Previous Work</h3>
      <div class="" >
        <h4>July 2016 – May 2017 Innovations Technologist: Fuerst Day Lawson <br>
          Sept 2013 – Sept 2015 Research and Development (Innovation) Technologist: Kerry Foods
        </h4>
      </div>
    </div>
    <div class= "col-xs-12 col-md-6">
      <h3>Previous Education</h3>
      <div class="" >
        <h4>2012-2013 University of Leeds, MSc (distinction) Food Quality and Innovation	<br>
          2007-2011 University of Edinburgh, 2:1 BSc. Biological Sciences (Genetics specialisation)
        </h4>
      </div>
    </div>
  </div>
</div>

<div class= "aboutSection">
  <hr>
  <h2>Technologies</h2>
  <div class= "row">
    <div class= "col-xs-6 col-md-3">
      <div class="icon" >
        <img class="img-fluid" src="/images/html.png">
      </div>
      <h4>Html 5</h4>
    </div>
    <div class= "col-xs-6 col-md-3">
      <div class="icon" >
        <img class="img-fluid" src="/images/css.png">
      </div>
      <h4>CSS</h4>
    </div>
    <!-- <div class= "col-xs-6 col-md-3">
    <div class="iconSass" >
    <img class="img-fluid" src="/images/scss.png">
  </div>
  <h4>Scss</h4>
</div> -->
<div class= "col-xs-6 col-md-3">
  <div class="icon" >
    <img class="img-fluid" src="/images/javascript.png">
  </div>
  <h4>JavaScript</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" >
    <img class="img-fluid" src="/images/angularjs.png">
  </div>
  <h4>AngularJS</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" >
    <img class="img-fluid" src="/images/ruby.png">
  </div>
  <h4>Ruby</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" ui-sref="proj4">
    <img class="img-fluid" src="/images/rails.png">
  </div>
  <h4>Ruby on Rails</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" ui-sref="proj4">
    <img class="img-fluid" src="/images/jquery.png">
  </div>
  <h4>jQuery</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" ui-sref="proj4">
    <img class="img-fluid" src="/images/json.png">
  </div>
  <h4>JSON</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" >
    <img class="img-fluid" src="/images/nodejs.png">
  </div>
  <h4>Node.js</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" >
    <img class="img-fluid" src="/images/mongodb.png">
  </div>
  <h4>mongoDB</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" >
    <img class="img-fluid" src="/images/postgreSQL.png">
  </div>
  <h4>PostgreSQL</h4>
</div>
<div class= "col-xs-6 col-md-3">
  <div class="icon" >
    <img class="img-fluid" src="/images/github.png">
  </div>
  <h4>GitHub</h4>
</div>
</div>
</div>
<hr>
