
<div class="contact">
  <hr>
  <ul class= "row">
    <li class= "col-xs-12 col-md-4 link">
    <a href="https://github.com/nikkifargus"><i class="fa fa-github fa-5x" aria-hidden="true"></i><h3>nikkifargus</h3></a>
    </li>
    <li class= "col-xs-12 col-md-4">
      <i class="fa fa-envelope fa-5x" aria-hidden="true"></i><h3>nikki@fargus.co.uk</h3>
    </li>
    <li class= "col-xs-12 col-md-4 link">
      <a href="https://www.linkedin.com/in/nikkifargus/"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i><h3>nikkifargus</h3></a>
    </li>
  </ul>
</div>
