
<!-- <hr> -->
<!-- <h1>ABOUT</h1> -->

<div class= "aboutSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="aboutMe">
        <h2>Nikki Fargus</h2>
        <h3> Hi, I'm a Junior Web Developer based in  London </h3>
        <h4>I love to create new things and I enjoy the practical and problem solving aspects of coding. My ideal job would be within an enthusiastic, friendly team that works collaborately so I can develop my skills. If I am not coding you'll find me baking, binge watching Netflix or travelling.</h4>
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="photoMe" ui-sref="proj2">
        <img class="img-fluid" src="images/cartoonMe.png">
      </div>
    </li>
  </ul>
</div>
<hr>
