
<!-- <hr> -->
<!-- <h1>ABOUT</h1> -->

<div class= "aboutSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto">
        <h2>Nikki Fargus</h2>
        <h3> Hi, I'm a Junior Web Developer based in  London </h3>
        <h4>I love to create new things and I enjoy the practical and problem solving aspects of coding. If I am not coding you'll find me baking, binge watching Netflix or travelling.</h4>
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto" ui-sref="proj2">
        <img class="img-fluid" src="#">
      </div>
    </li>
  </ul>
</div>




<hr>
