
<hr>
<h1>ABOUT</h1>
<div class="row">
  <div class="col-lg-6">
    <h2>Nikki Fargus</h2>
    <h3> Junior Web Developer | London Based</h3>
    <h4>I love to create new things and I enjoy the practical and problem solving aspects of coding. If I am not coding you'll find me baking, binge watching Netflix or travelling.</h4>
  </div>
  <div class="col-lg-6">
    <p>image</p>
  </div>

</div>


<hr>
<h1>WORK</h1>

<div class= "addSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto" ui-sref="proj1">
        <img class="img-fluid" src="#">
      </div>
      <p>PROJ 1</p>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto" ui-sref="proj2">
        <img class="img-fluid" src="h#">
      </div>
      <p>PROJ 2</p>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto" ui-sref="proj3">
        <img class="img-fluid" src="#">
      </div>
      <p>PROJ 3</p>
      <li class= "col-xs-12 col-md-6">
        <div class="addPhoto" ui-sref="proj4">
          <img class="img-fluid" src="#">
        </div>
        <p>PROJ 4</p>
      </li>
    </li>
  </ul>
</div>
