<div class="full">
  <hr>
  <div class="proj">
    <div class="row">
      <div class="col-xs-1">
        <div class= "arrows">
          <h1 ui-sref="proj1">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </h1>
        </div>
      </div>
      <div class="col-xs-10">
        <div>
          <img class="img-fluid" src="/images/sweetSpot.png">
        </div>
      </div>
      <div class="col-xs-1">
        <div class= "arrows">
          <h1 ui-sref="proj3">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </h1>
        </div>
      </div>



      <div class="row links">
        <h3><a href="https://github.com/nikkifargus/WDI_PROJECT_2"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See code</a></h3>
        <h3><a href="https://warm-oasis-10599.herokuapp.com/"><i class="fa fa-laptop fa-lg" aria-hidden="true"></i>Launch site</a></h3>
      </div>
      <div class="blurb">
        <h4>Sweet Spot Recipe Exchange was my first full stack web application in which I made an authenticated RESTful app using Node.js, Express, EJS and an external API. I found this project the most difficult because, as well as the coding languages being a new skill, the concept of implementing multiple interconnecting files was also new.</h4>
      </div>
    </div>
  </div>
</div>
