
<div class= "projSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="aboutProj">
        <h2>HAVADO STAG & HEN PLANNING</h2>
        <h3> Project Three at GA</h3>
        <h4>This was a group project in which we created an authenticated RESTful app using Node.js to make an API and AngularJS on the frontend. I mainly focussed on the initial setup, routes and CRUD functionality. My main takeaway was how to use GitHub development branches. </h4>
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="photoProj">
        <img class="img-fluid" src="/images/havado.png">
        <ul class="row">
          <li class= "col-xs-12 col-md-6"><h3><a href="https://github.com/Jwrighty/WDI_GROUP_PROJECT"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See code</a></h3></li>
          <li class= "col-xs-12 col-md-6"><h3><a href="https://frozen-savannah-91722.herokuapp.com/ "><i class="fa fa-laptop fa-lg" aria-hidden="true"></i>Launch site</a></h3></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div class="arrows">
  <div class="row">
    <div class= "col-xs-12 col-md-6">
      <h1 ui-sref="proj2"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </h1>
    </div>
    <div class= "col-xs-12 col-md-6">
      <h1 ui-sref="proj4"><i class="fa fa-arrow-right" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>
<hr>
