
<div class= "projSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="aboutProj">
        <h2>FITNESS FUN CLASS SCHEDULING</h2>
        <h3> Project Four at GA</h3>
        <h4>For my final project I developed an authenticated RESTful app with a customised Ruby on Rails API. In this project I learnt a lot about relational databases and felt I truly understood the usefulness of using Insomnia for testing, so was able to move confidently onto my front end, knowing I could access all the data I needed. I really enjoyed implementing the frontend with AngularJS and styling with the help of the Bootstrap framework.</h4>
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="photoProj">
        <img class="img-fluid" src="/images/fitnessFun.png">
        <ul class="row">
          <li class= "col-xs-12 col-md-6"><h3><a href="https://github.com/nikkifargus/WDI_PROJECT_4_CLIENT"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See frontend code</a></h3></li>
          <li class= "col-xs-12 col-md-6"><h3><a href="https://github.com/nikkifargus/WDI_PROJECT_4_API"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See backend code</a></h3></li>
          <li class= "col-xs-12 col-md-6"><h3><a href="https://fitness-fun-classes.herokuapp.com/ "><i class="fa fa-laptop fa-lg" aria-hidden="true"></i>Launch site</a></h3></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<hr>
