<div class="row proj">
  <div class="col-12">
    <img class="img-fluid" src="/images/fitnessFun.png">
  </div>
  <ul class="row links">
    <li class= "col-xs-4"><h3><a href="https://github.com/nikkifargus/WDI_PROJECT_4_CLIENT"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See frontend code</a></h3></li>
    <li class= "col-xs-4"><h3><a href="https://github.com/nikkifargus/WDI_PROJECT_4_API"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See backend code</a></h3></li>
    <li class= "col-xs-4"><h3><a href="https://fitness-fun-classes.herokuapp.com/ "><i class="fa fa-laptop fa-lg" aria-hidden="true"></i>Launch site</a></h3></li>
  </ul>
  <div class="blurb">
    <h4>Fitness Fun Class Scheduling was my final project at GA. I developed an authenticated RESTful app with a Ruby on Rails API. I learnt a lot about relational databases and the usefulness of Insomnia for testing my API. I really enjoyed implementing the frontend with AngularJS and styling with the help of the Bootstrap framework.</h4>
  </div>
</div>

<div class="arrows">
  <div class="row">
    <div class= "col-xs-12 col-md-6">
      <h1 ui-sref="proj3"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </h1>
    </div>
    <div class= "col-xs-12 col-md-6">
      <h1 ui-sref="proj1"><i class="fa fa-arrow-right" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>
<hr>
