<div class="full">
  <hr>
  <div class="proj">
    <div class="row">
      <div class="col-xs-1">
        <div class= "arrows">
          <h1 ui-sref="proj4">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </h1>
        </div>
      </div>
      <div class="col-xs-10">
        <div>
          <img class="img-fluid" src="/images/spaceEvader.png">
        </div>
      </div>
      <div class="col-xs-1">
        <div class= "arrows">
          <h1 ui-sref="proj2">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </h1>
        </div>
      </div>
    </div>

    <div class="row links">
      <h3><a href="https://github.com/nikkifargus/WDI_PROJECT_1"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See code</a></h3>
      <h3><a href="https://cryptic-castle-58803.herokuapp.com"><i class="fa fa-laptop fa-lg" aria-hidden="true"></i>Launch site</a></h3>
    </div>
    <div class="blurb">
      <h4>Space Evader was my first project for the WDI course at General Assembly. Using jQuery and JavaScript, I produced a collision based game where the player controls a rocket in order to avoid asteroids falling down the screen. In order to complete this project I practiced logic based problem solving, css styling and adding music to a website.</h4>
    </div>
  </div>

</div>
