
<div class= "projSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="aboutProj">
        <h2>SPACE EVADER</h2>
        <h3> Project One at GA</h3>
        <h4>Using jQuery and JavaScript, I produced a collision based game where the player controls a rocket in order to avoid asteroids falling down the screen. In order to complete this project I was able to practice logic based problem solving, css styling and adding music to a website.</h4>
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="photoProj">
        <img class="img-fluid" src="/images/spaceEvader.png">
        <ul class="row">
          <li class= "col-xs-12 col-md-6"><h3><a href="https://github.com/nikkifargus/WDI_PROJECT_1"><i class="fa fa-github fa-lg" aria-hidden="true"></i>See code</a></h3></li>
          <li class= "col-xs-12 col-md-6"><h3><a href="https://cryptic-castle-58803.herokuapp.com"><i class="fa fa-laptop fa-lg" aria-hidden="true"></i>Launch site</a></h3></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="arrows">
  <div class="row">
    <div class= "col-xs-12 col-md-6">
      <h1 ui-sref="proj4"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </h1>
    </div>
    <div class= "col-xs-12 col-md-6">
      <h1 ui-sref="proj2"><i class="fa fa-arrow-right" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>
<hr>
