<!-- <div class= "addSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto" ui-sref="proj1">
          <img class="img-fluid" src="#">
      </div>
      <p>PROJ 1</p>
    </li>
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto" ui-sref="proj2">
          <img class="img-fluid" src="h#">
      </div>
      <p>PROJ 2</p>
    </li>
    <li class= "col-xs-12 col-md-6">
    <div class="addPhoto" ui-sref="proj3">
        <img class="img-fluid" src="#">
    </div>
    <p>PROJ 3</p>
    <li class= "col-xs-12 col-md-6">
      <div class="addPhoto" ui-sref="proj4">
          <img class="img-fluid" src="#">
      </div>
      <p>PROJ 4</p>
    </li>
  </li>
  </ul>
</div> -->
