<div class= "addSection">
  <ul class= "row">
    <li class= "col-xs-12 col-md-6">
      <h3>GA Project 1</h3>
      <div class="addPhoto" ui-sref="proj1">
          <img class="img-fluid" src="/images/spaceEvader.png">
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <h3>GA Project 2</h3>
      <div class="addPhoto" ui-sref="proj2">
          <img class="img-fluid" src="/images/sweetSpot.png">
      </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <h3>GA Project 3</h3>
    <div class="addPhoto" ui-sref="proj3">
        <img class="img-fluid" src="/images/havado.png">
    </div>
    </li>
    <li class= "col-xs-12 col-md-6">
      <h3>GA Project 4</h3>
      <div class="addPhoto" ui-sref="proj4">
          <img class="img-fluid" src="/images/fitnessFun.png">
      </div>
    </li>
  </ul>
</div>
<hr>
