.aboutSection{
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  .row{
    padding: 0;
    .addPhoto{
      width: 85%;
      // height: 250px;
      // background-color: red;
      // overflow: hidden;
      margin:0 auto;
    }
  }
}
