
.introSection{
  padding: 0;
  // margin-top: 10%;

  .row{
    padding: 0;
    .photoMe{
      width: 85%;
      margin:0 auto;
      // text-align: center;
      img{
        width: 85%;
        margin-top:20px;
        float: right;
      }
    }
    .aboutMe{
      h2{
      }
      // width: 85%;
      margin:0 auto;
      // margin-top: 2rem;
    }
  }
}

.aboutSection{

  div{
    text-align: center;
    margin: 0 auto;
    .icon{
      width: 40%;
      text-align: center;
    }
  }
h2{
  text-align: center;
  margin-bottom: 3rem;
}
}
