.contact{
  vertical-align: middle;
  margin-top: 10%;
  ul{
    text-align: center;
    i{
      color: black;
      // width: 100%;
      font-size: 16rem;
      margin-top: 10%;
      // margin-bottom: 10%;
    }
  }
}
