.contact{
  vertical-align: middle;
  // margin-top: 10%;
  ul{
    text-align: center;
    a{
      color: black;
    }
    i{
      color: black;
      font-size: 16rem;
      margin-top: 20%;
    }
  }
}
