.contact{
  vertical-align: middle;
  // margin-top: 10%;
  div{
    text-align: center;
    a{
      color: black;
    }
    i{
      color: black;
      font-size: 16rem;
      margin-top: 20%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .container{
    padding: 0;
    .contact{
      div{
        text-align: center;
        padding: 0;
      }
    }
  }
}
