.top{
  border-width:1px 0;
  list-style:none;
  margin-bottom:0;
  // margin-top: 2%;
  padding:0;
  text-align:center;
  // position: fixed;
  li{
    display:inline;
    h1{
      display:inline-block;
      padding:5px;
      color: black;
      cursor: pointer;
      font-family: 'Nixie One', cursive;
      margin-bottom: 0;
    }
  }
}

.top{
  h1:hover{
    font-weight: bold;
  }
}
