nav{
  font-family: 'Nixie One', cursive;
  font-size: 2.5vw;
  .navbar-collapse{
    // margin-top: 40px;
    text-align: center;
    a{
      color: black;
      p{
        margin-top: 4vw;
      }
    }
  }
}
