.full{
  margin-top: 10%;

.proj{
  div{
    text-align: center;
    ul{
      padding-right: 40px;
    }
    img{
      box-shadow: 5px 5px 2.5px #888888;
    }
  }
  .links{
    text-align: center;
    h3{
      display: inline-block;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    a{
      color: black;
    }
  }
  .blurb{
    text-align: center;
  }
  img{
    width: 80%;
  }
}
.arrows{
  vertical-align: middle;
  h1{
    margin: 0;
    cursor: pointer;
  }
}
}
