.addSection{
  text-align: center;
  padding: 0;
  // margin-top: 3%;
  h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .row{
    padding: 0;
    // margin: 5px;
    li{
      padding: 5px;
    }
    .addPhoto{
      cursor: pointer;
      width: 75%;
      overflow: hidden;
      margin:0 auto;
      padding: 0;
      box-shadow: 5px 5px 2.5px #888888;

    }
  }
}

// .homepage-subtitle-holder {
//   padding-left: 20px;
//   padding-top: 40px;
//   width: 80%;
//   height: 200px;
//   background-color: rgba(0,0,0,0.1);
//   h4 {
//     color: darken(#9c9ea3, 55%);
//   }
//   h1 {
//     opacity: 0;
//     -o-transition:0.5s;
//     -ms-transition:0.5s;
//     -moz-transition:0.5s;
//     -webkit-transition:0.5s;
//     transition:0.5s;
//   }
// }
// .homepage-subtitle-holder:hover {
//   h1 {
//     opacity: 1;
//   }
// }
