@import 'footer';
@import 'nav';
@import 'work';
@import '_about';
@import '_proj';
@import '_home';

ul{
  list-style-type: none;
}

main{
  font-family: 'Nixie One', cursive;
}

i{
  width: 50px;
}

.construction{
  text-align: center;
}

h1{
  text-align: center;
}

h4{
  line-height: 30px;
}

img{
  width: 100%;
}

hr{
  margin: 0;
}

.test{
  .black{
    background-color: black;
    width: 100%;
  }
  .red{
    background-color: red;
    width: 100%;

  }
}
