@import 'footer';
@import 'nav';
@import 'work';
@import '_about';

ul{
  list-style-type: none;
}

main{
  font-family: 'Nixie One', cursive;
}

i{
  width: 50px;
}

.construction{
  text-align: center;
}

h1{
  text-align: center;
}

h4{
  line-height: 30px;
}

img{
  width: 100%;
}
